# compiled output
.cache/
public

# generated
/ coverage

# compiled binary add-ons (http://nodejs.org/api/addons.html)
build/Release

# dependencies & cache
/node_modules
.npm
.eslintcache

# system Files
.DS_Store
Thumbs.db

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# runtime data
pids
*.pid
*.seed
*.pid.lock

# environment files
.env

# output of 'npm pack'
*.tgz

# optional REPL history
.node_repl_history
