@import '../styles/variables/colors';
@import '../styles/variables/layout';
@import '../styles/variables/typography';

.blogPost {
  grid-column: 2/14;

  figcaption {
    font-size: $footnote-font-size;
    color: $cl-secondary;
    text-align: center;
  }

  figure {
    margin-inline-start: 0;
    margin-inline-end: 0;
  }
}

hr {
  width: $hrWidth;
  margin: $gutter auto;
}

.bioDivider {
  margin: $gutter auto;
  width: 100%;
}

.blogPostHeading {
  margin-top: $headlineTopMargin;
  margin-bottom: 0;
  z-index: $zHeading;
  grid-column: 2/14;
}

.blogPostNavigation {
  grid-column: 2/14;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.blogPostNavigationPrev {
  grid-column: 1;
  text-align: left;
}
.blogPostNavigationNext {
  grid-column: 2;
  text-align: right;
}
ul.blogPostNavigation li {
  margin-top: $gutter;

  a {
    background: $gradient;
    color: $cl-inverted-foreground;
    padding: $spacing;
  }

  &::before {
    content: none;
  }
}

@media (max-width: $mobile-view-limit) {
  .blogPostNavigation {
    grid-template-columns: 1fr;
  }
  .blogPostNavigationNext {
    grid-column: 1;
  }
}
