@import '../styles/variables/colors';
@import '../styles/variables/layout';
@import '../styles/variables/typography';

.blogPost {
  grid-column: 2/14;

  hr {
    width: $hrWidth;
    margin: $gutter auto;
  }

  ul {
    margin-top: 0;
    list-style: none;

    li:before {
      content: '・'
    }
  }
  p + ul {
    margin-top: -1em;
  }

  figcaption {
    font-size: $footnote-font-size;
    color: $cl-secondary;
    text-align: center;
  }
}

.blogPostHeading {
  margin-top: $headlineTopMargin;
  margin-bottom: 0;
  z-index: $zHeading;
  grid-column: 2/14;
}

.blogPostNavigation {
  grid-column: 2/14;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.blogPostNavigationPrev {
  grid-column: 1;
  text-align: left;
}
.blogPostNavigationNext {
  grid-column: 2;
  text-align: right;
}
