@import '../../styles/variables/typography';
@import '../../styles/variables/layout';
@import '../../styles/variables/colors';

.footer {
  padding: $spacing 0;
  text-align: center;
  background: $cl-footer-back;
  color: $cl-footer-front;

  .socialNav {
    text-align: center;
    margin: $spacing auto;
    width: auto;
    display: inline-block;
  }

  .menuNav {
    margin: $spacing;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: $gradient;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .footerLink {
    text-decoration: none;
    padding: $spacing;
    color: inherit;

    &:before {
      content: '';
      border-left: 1px solid $cl-footer-border;
      margin-right: $spacing;
      margin-left: -$spacing;
    }
  }

  .footerLink:last-child:after {
    content: '';
    border-right: 1px solid $cl-footer-border;
    margin-right: -$spacing;
    margin-left: $spacing;
  }

  .socialLink {
    padding: $spacing;
    font-size: $social-icon-font-size;
    color: $cl-focus;
  }

  .footnote {
    font-size: $footnote-font-size;
  }
}
