@import "fonts.scss";
@import "./variables/colors";
@import "./variables/typography";

html {
  box-sizing: border-box;
  font-size: $font-size;
  font-family: $font-family;
  font-weight: $font-weight-light;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1 {
  font-family: $headline-font-family;
  font-weight: $headline-font-weight;
  font-size: $headline-font-size;
}

h2, h3, h4 {
  font-weight: $font-weight-bold;
}

*:active {
  -webkit-tap-highlight-color: transparent; // sass-lint:disable-line no-vendor-prefixes
}

body {
  background: $cl-background;
  color: $cl-foreground;
  margin: 0;
  padding: 0;
}
