@import "fonts";
@import "components/glitch";

@import "./variables/colors";
@import "./variables/typography";
@import "./variables/layout";

html {
  box-sizing: border-box;
  font-size: $font-size;
  font-family: $font-family;
  font-weight: $font-weight-light;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul, li {
  padding: 0;
}

a, a:active, a:focus, a:visited {
  color: $cl-focus;
  text-decoration: none;
  font-weight: $font-weight-bold;
}

h1 {
  font-family: $headline-font-family;
  font-weight: $headline-font-weight;
  font-size: $headline-font-size;
  text-transform: uppercase;
  margin-top: 0;
}
h2 {
  font-family: $headline-font-family;
  font-weight: $headline-font-weight;
}

h3, h4 {
  font-weight: $font-weight-bold;
  margin-top: 0;
}

p, blockquote {
  margin-top: 0;
  text-align: justify;
}

blockquote {
  border-left: 4px solid $cl-focus;
  margin-left: 0;
  margin-right: 0;
  padding: $spacing 0 $spacing $gutter;
  font-style: italic;

  p {
    margin-bottom: 0;
  }
  p + p {
    margin-top: 1em;
  }
}

*:active {
  -webkit-tap-highlight-color: transparent; // sass-lint:disable-line no-vendor-prefixes
}

body {
  background: $cl-main-back;
  color: $cl-foreground;
  margin: 0;
  padding: 0;
}

.vscode-highlight-code, code {
  font-family: 'Missing Code', monospace;
  font-size: 0.9em;
}
.vscode-highlight.dark-default-dark {
  background: $cl-black;
}

// SOME HACKS
.iframeContainer {
  overflow: hidden;
  padding-top: 56.25%; // hack
  position: relative;

  iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
