@import '../../styles/variables/layout';
@import '../../styles/variables/colors';
@import '../../styles/variables/typography';

.talk {
  justify-items: center;
  margin-bottom: 1rem;

  h3 {
    margin-bottom: 0;
  }
}

.talkText {
  width: 100%;
  margin-left: 1rem;
}

.pill {
  display: inline-block;
  padding: 0.1rem 0.5rem;
  margin: 0 0.2rem;
  border-radius: 0.3rem;
  background: $cl-focus;
  color: $cl-inverted-foreground;
  text-transform: uppercase;
}
