@import '../../styles/variables/layout';
@import '../../styles/variables/colors';

.layout {
  margin: auto;
  max-width: 1920px;
  min-height: 100vh;
  padding-top: $header-feed;
}

.main {
  display: grid;
  grid-template-columns: $gutter $grid-body $gutter;
  grid-template-rows: 1fr;
  max-width: $maxWidth;
  margin: 0 auto;
}

.herolessMain .mainSection {
  margin-top: 2px;
}

.mainSection {
  grid-column: 2/14;
  display: grid;
  grid-template-columns: $gutter $grid-body $gutter;
  grid-template-rows: 1fr;
  margin-top: -$gutter;
  padding-top: $gutter;
  padding-bottom: $gutter;
  background: $cl-background;
  z-index: $zMainContent;

  & > * {
    grid-column: 2/14;
  }

  ul {
    margin-top: 0;
    list-style: none;

    li:before {
      content: '・'
    }
  }
  p + ul {
    margin-top: -1em;
  }
}

@media (max-width: $mobile-view-limit) {
  .mainSection {
    grid-column: 1/15;
    margin-top: 0;
  }
}
