@import '../../styles/variables/layout';
@import '../../styles/variables/colors';

.layout {
  margin: auto;
  max-width: 1920px;
  min-height: 100vh;
  padding-top: $header-feed;
}

.main {
  display: grid;
  grid-template-columns: $gutter $grid-body $gutter;
  grid-template-rows: 1fr;
  max-width: $maxWidth;
  margin: 0 auto;
}

.hero {
  background: $gradient;

  img {
    mix-blend-mode: luminosity;
  }
}

.herolessMain .mainSection {
  margin-top: 2px;
}

.mainSection {
  grid-column: 2/14;
  display: grid;
  grid-template-columns: $gutter $grid-body $gutter;
  grid-template-rows: 1fr;
  margin-top: -$gutter;
  padding-top: $gutter;
  padding-bottom: $gutter;
  background: $cl-background;
  z-index: $zMainContent;
  // clip-path: polygon(
  //   0 10px,
  //   1% 8px,
  //   2% 6px,
  //   10% 6px,
  //   11% 0,
  //   25% 0,
  //   30% 7px,
  //   35% 9px,
  //   35% 4px,
  //   42% 0,
  //   80% 0,
  //   90% 8px,
  //   98% 2px,
  //   100% 6px,
  //   100% 100%,
  //   0 100%
  //   );

  & > * {
    grid-column: 2/14;
  }

  ul {
    margin-top: 0;
    list-style: none;

    li:before {
      content: '・'
    }
  }
  p + ul {
    margin-top: -1em;
  }
}

@media (max-width: $mobile-view-limit) {
  .mainSection {
    grid-column: 1/15;
    margin-top: -10px;
  }
}
