@import '../../styles/variables/typography';
@import '../../styles/variables/layout';
@import '../../styles/variables/colors';

.header {
  padding: $spacing 0;
  position: fixed;
  background: mixTransparent($cl-background);
  top: 0;
  width: 100%;
  z-index: $zHeader;
  box-shadow: $box-shadow;

  nav {
    text-align: center;
  }

  .link {
    text-transform: uppercase;
    text-decoration: none;
    padding: $spacing;
    color: $cl-foreground;
    font-weight: $font-weight-light;
  }
  .mainLink {
    font-family: $headline-font-family;
  }
}
