// base colors
$cl-turquoise: #01a2a6;
$cl-white: #efefef;
$cl-light-gray: #c0c0c0;
$cl-gray: #383838;
$cl-black: #262626;

// target colors
$cl-background: $cl-white;
$cl-foreground: $cl-black;
$cl-focus: $cl-turquoise;
$cl-secondary: $cl-gray;

// footer
$cl-footer-back: $cl-gray;
$cl-footer-front: $cl-white;
$cl-footer-border: $cl-light-gray;

// combos
$box-shadow: 0 4px 10px rgba(0, 0, 0, .25);

// functions
@function mixTransparent($color) {
  @return mix($color, transparent, 90%);
}
