// palette
$cl-outer-space: #2C3531;
$cl-turquoise-dark: #246e6a;
$cl-turquoise: #3AAFA9;
$cl-abbey: #474b4f;
$cl-burnt-sienna: #E85A4F;
$cl-electric-violet: #8338EC;
$cl-daisy-bush: #52278d;
$cl-alto: #DFDFDF;
$cl-twilight-blue: #FEFFFF;

// target colors
$cl-background: $cl-twilight-blue;
$cl-foreground: $cl-outer-space;
$cl-focus: $cl-turquoise-dark;
$cl-secondary: $cl-abbey;
$cl-main-back: $cl-alto;
$cl-inverted-foreground: $cl-twilight-blue;
$cl-code-background: $cl-outer-space;
$cl-inline-code-background: $cl-alto;

// footer
$cl-footer-back: $cl-alto;
$cl-footer-front: $cl-outer-space;
$cl-footer-border: $cl-abbey;

// combos
$box-shadow: 0 6px 10px rgba(0, 0, 0, .25);

// gradient
$gradient: linear-gradient(90deg, $cl-burnt-sienna, $cl-turquoise);

// functions
@function mixTransparent($color) {
  @return mix($color, transparent, 95%);
}
