// palette
$cl-outer-space: #2C3531;
$cl-turquoise: #3AAFA9;
$cl-abbey: #474b4f;
$cl-burnt-sienna: #E85A4F;
$cl-alto: #DFDFDF;
$cl-satin: #EAE7DC;
$cl-twilight-blue: #FEFFFF;

// target colors
$cl-background: $cl-twilight-blue;
$cl-foreground: $cl-outer-space;
$cl-focus: $cl-turquoise;
$cl-secondary: $cl-abbey;
$cl-main-back: $cl-satin;
$cl-inverted-foreground: $cl-twilight-blue;
$cl-code-background: $cl-outer-space;

// footer
$cl-footer-back: $cl-satin;
$cl-footer-front: $cl-outer-space;
$cl-footer-border: $cl-alto;

// combos
$box-shadow: 0 4px 10px rgba(0, 0, 0, .25);

// functions
@function mixTransparent($color) {
  @return mix($color, transparent, 95%);
}
