// basic spacing
$spacing: 10px;
$gutter: 20px;
$header-feed: 42px;

// grid
$grid-padding: $gutter;
$grid-columns: 12;

// radius
$block-radius: 3px;

// levels
$zHeader: 100;
$zOverlay: 90;
$zHeading: 10;

// blog post
$maxWidth: 590px;
