$font-family: 'Missing', sans-serif;
$font-weight-bold: 600;
$font-weight-light: 300;

$font-size: 16px;

$headline-font-family: 'Missing Headline', sans-serif;
$headline-font-weight: 800;
$headline-font-size: 2rem;

$social-icon-font-size: 1.5rem;

$footnote-font-size: 0.8rem;
