@import '../../styles/variables/typography';
@import '../../styles/variables/layout';
@import '../../styles/variables/colors';

.footer {
  padding: $spacing 0;
  text-align: center;
  background: $cl-footer-back;
  color: $cl-footer-front;

  nav {
    text-align: center;
  }

  .link {
    text-transform: uppercase;
    text-decoration: none;
    padding: $spacing;
    color: $cl-foreground;
    font-weight: $font-weight-light;
  }

  .socialLink {
    padding: $spacing;
    font-size: $social-icon-font-size;
    color: $cl-focus;
  }

  .footnote {
    font-size: $footnote-font-size;
  }
}
