@import '../../styles/variables/typography';
@import '../../styles/variables/layout';
@import '../../styles/variables/colors';

.footer {
  padding: $spacing 0;
  text-align: center;
  background: $cl-footer-back;
  color: $cl-footer-front;

  .socialNav {
    text-align: center;
    padding: $gutter;
  }
  .menuNav {
    padding: $spacing;
  }

  .footerLink {
    text-decoration: none;
    padding: $spacing;
    color: inherit;
    font-weight: $font-weight-light;

    & + .footerLink {
      border-left: 1px solid $cl-footer-front;
    }
  }

  .socialLink {
    padding: $spacing;
    font-size: $social-icon-font-size;
    color: $cl-focus;
  }

  .footnote {
    font-size: $footnote-font-size;
  }
}
