// basic spacing
$spacing: 10px;
$gutter: 20px;
$header-feed: 44px;

// widths
$maxLayoutWidth: 1300px;
$maxWidth: 1200px;
$hrWidth: 50px;

// grid
$grid-padding: $gutter;
$grid-columns: 12;
$grid-body: repeat($grid-columns, 1fr);

// radius
$block-radius: 3px;
$full-round-radius: 100%;

// levels
$zHeader: 100;
$zOverlay: 90;
$zHeading: 10;
$zMainContent: 2;

// blog post
$bioImageWidth: 50px;
$headlineTopMargin: -.2rem;

// media
$mobile-view-limit: 768px;
